.connexionBox {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: "Indie Flower";
  min-height: 100vh;
  justify-content: center;
}
.connexionBox h1,
.connexionBox h3 {
  text-align: center;
}
.connexionBox > * {
  width: 100%;
}
.connexionLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connexionLinks > button {
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: Dekko;
  margin: 10px 0px;
  display: flex;
}
.connexionLinks > button > .logoButton {
  padding: 2px 5px 0px 20px;
}
.connexionLinks > .google-button {
  background-color: #dd4b39;
}
.connexionLinks > .facebook-button {
  background-color: #3b5998;
}
.connexionLinks > .twitter-button {
  background-color: #00aced;
}
