.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: -webkit-fill-available;
}

.grid-card {
  margin: 1.2em;
}
.grid-card .info-card {
  display: flex;
  align-items: center;
  padding: 2px;
}
.grid-card .info-card .img-info-card img {
  height: 8em;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px white;
}
.grid-card .info-card .txt-info-card {
  display: none;
}
.list-card {
  margin: 10px 0;
}
.list-card .info-card {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #ff7043;
  border-radius: 5px;
}
.list-card .info-card .img-info-card {
  margin-right: 10px;
}
.list-card .info-card .img-info-card > img {
  height: 5em;
  border-radius: 5px;
}
.list-card .info-card .txt-info-card {
  height: 5em;
  width: 250px;
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke;
}
.info-card .txt-info-card h4 {
  text-align: right;
}
.info-card .txt-info-card > * {
  margin: 0px;
}
.list-card .info-card {
  box-shadow: 1px 1px 4px 0px white;
}
.change-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
