@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Dekko");

.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
}
/*font-family: sans-serif;*/

body {
  background-color: #212121;
  color: #ddd;
}
