@import url("https://fonts.googleapis.com/css?family=Dekko");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
}
html {
  box-sizing: border-box;
  background-color: #212121 !important;
}
body {
  background-color: #212121 !important;
  color: #ddd;
  display: flex;
  font-family: "Dekko";
  margin: 0;
}
body > div {
  width: 100%;
}
body *:focus {
  outline: none;
}
